# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [1]:
import pandas as pd

# 1. Series
1차원 데이터 (정수, 실수, 문자열 등)

## Series 객체 생성
예) 1월부터 4월까지 평균 온도 데이터(-20, -10, 10, 20)

In [2]:
temp = pd.Series([-20, -10, 10, 20])
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [3]:
temp[0]

-20

In [4]:
temp[2]

10

# Series 객체 생성(Index 지정)

In [5]:
temp = pd.Series([-20, -10, 10, 20], index=['One', 'Two', "Three", "Four"])
print(temp)

One     -20
Two     -10
Three    10
Four     20
dtype: int64

In [6]:
temp['One']

-20

In [7]:
temp['Four']

20

In [8]:
# temp['Five']

In [9]:
temp.values

array([-20, -10,  10,  20], dtype=int64)

In [10]:
temp.index

Index(['One', 'Two', 'Three', 'Four'], dtype='object')

In [11]:
temp[['One', 'Four']]

One    -20
Four    20
dtype: int64

In [12]:
temp * 2

One     -40
Two     -20
Three    20
Four     40
dtype: int64

In [13]:
'One' in temp
'10' in temp.values

C:\Users\Woo\AppData\Local\Temp/ipykernel_8284/1472399127.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  '10' in temp.values

False

In [14]:
'One' in temp
10 in temp.values

True

In [15]:
'One' in temp

True

In [16]:
10 in temp.values

True

In [17]:
data = {'hi': 10, 'hello': 20, 'guten_tag': 30}
obj = pd.Series(data)
obj

hi           10
hello        20
guten_tag    30
dtype: int64

In [18]:
obj['hi']

10

In [19]:
obj.values

array([10, 20, 30], dtype=int64)

In [20]:
obj.index

Index(['hi', 'hello', 'guten_tag'], dtype='object')

In [21]:
data = {'hi': 10, 'hello': 20, 'guten_tag': 30}
name = ['woo', 'park', 'ryu', 'kang']
obj = pd.Series(data, index= name)
obj

woo    NaN
park   NaN
ryu    NaN
kang   NaN
dtype: float64

In [22]:
name = ['hello', 'guten_tag', 'hi']
obj = pd.Series(data, index= name)
obj

hello        20
guten_tag    30
hi           10
dtype: int64

In [23]:
data = {'hi': 10, 'hello': 20, 'guten_tag': 30}
index_data = ['hello', 'guten_tag', 'hi', '안녕']
obj = pd.Series(data, index= index_data)
obj

hello        20.0
guten_tag    30.0
hi           10.0
안녕            NaN
dtype: float64

In [24]:
pd.isnull(obj)

hello        False
guten_tag    False
hi           False
안녕            True
dtype: bool

In [25]:
pd.notnull(obj)

hello         True
guten_tag     True
hi            True
안녕           False
dtype: bool

In [26]:
temp + obj

Four        NaN
One         NaN
Three       NaN
Two         NaN
guten_tag   NaN
hello       NaN
hi          NaN
안녕          NaN
dtype: float64

In [27]:
obj

hello        20.0
guten_tag    30.0
hi           10.0
안녕            NaN
dtype: float64

In [28]:
temp

One     -20
Two     -10
Three    10
Four     20
dtype: int64

In [29]:
temp.name = 'num'
temp

One     -20
Two     -10
Three    10
Four     20
Name: num, dtype: int64

In [30]:
temp.index.name = 'Count'
temp

Count
One     -20
Two     -10
Three    10
Four     20
Name: num, dtype: int64

In [31]:
temp.name = 'num'

In [32]:
temp

Count
One     -20
Two     -10
Three    10
Four     20
Name: num, dtype: int64

In [33]:
obj.index.name = '인사'
obj.name = '데이터'
obj

인사
hello        20.0
guten_tag    30.0
hi           10.0
안녕            NaN
Name: 데이터, dtype: float64

In [34]:
type(obj)

pandas.core.series.Series

In [35]:
type(temp)

pandas.core.series.Series